* {
  margin: 0;
  padding: 0;
}

/* removes white border around page*/
.ant-card-meta-description {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* allows text-overflow ellipsis in card design*/
@media (min-width: 768px) {
  .login-page{
    display: flex;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./NUS-Login-Page-Image.jpg");
    /* image credits to https://news.nus.edu.sg/nus-presidents-letter-nus-in-2020/ */
    position: absolute;
    width: 100%;
  }
  .login-page-position-left{
    display: flex;
    flex: 1;
  }
  .login-page-position-right {
    background-repeat: no-repeat;
    background-position: center 110px;
    background-size: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 550px;
    overflow: auto;
    align-items: center;
    justify-content: center;
    padding: 24px;
    height: max-content;
    margin: auto;
  }
  .login-page-container {
    border-radius: 10px;
    background-size: 100%;
    background-position: center;
    backdrop-filter: blur(10px);
    background-color: rgba(20, 20, 20, 0.6);
    background-image: radial-gradient(
      circle at 93% 1e+2%,
      rgba(22, 119, 255, 0.17) 0%,
      rgba(255, 255, 255, 0.05) 23%,
      rgba(255, 255, 255, 0.03) 87%,
      rgba(22, 119, 255, 0.12) 109%
    );
    padding: 32px;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.4);
  }
  .signup-page{
    display: flex;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./NUS-Login-Page-Image.jpg");
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .signup-page-container{
    display: flex;
    flex: 1;
    max-width: 70vw;
    padding: 32px;
    overflow: auto;
    align-items: center;
    justify-content: center;
    height: max-content;
    margin: auto;
    border-radius: 50px;
    background-size: 100%;
    background-position: top;
    backdrop-filter: blur(10px);
    background-color: rgba(20, 20, 20, 0.6);
    background-image: radial-gradient(
      circle at 93% 1e+2%,
      rgba(22, 119, 255, 0.17) 0%,
      rgba(255, 255, 255, 0.05) 23%,
      rgba(255, 255, 255, 0.03) 87%,
      rgba(22, 119, 255, 0.12) 109%
    );
    
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.7);
  }
}
@media (max-width: 768px) {
  .login-page{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./NUS-Login-Page-Image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    flex-direction: column-reverse;
  }
  .login-page-position-left{
    display: flex;
    flex: none;
    align-items: flex-start;
    width: 100%;
    }
  .login-page-position-right{
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 550px;
    padding-inline: 0;
    padding-block: 32px;
    overflow: auto;
    align-items: center;
    justify-content: center;
    padding: 24px;
    height: max-content;
    margin: auto;
  }
  .login-page-container{
    background-color: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(4px);
    padding: 24px;
    box-shadow: none;
    background-image: none;
    border-radius: 0px;
    background-size: 100%;
    background-position: top;
    overflow: hidden;
    border-radius: 10px;
    background-size: 100%;
    background-position: top;
    backdrop-filter: blur(10px);
    background-color: rgba(20, 20, 20, 0.6);
    background-image: radial-gradient(
      circle at 93% 1e+2%,
      rgba(22, 119, 255, 0.17) 0%,
      rgba(255, 255, 255, 0.05) 23%,
      rgba(255, 255, 255, 0.03) 87%,
      rgba(22, 119, 255, 0.12) 109%
    );
    padding: 32px;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.4);
  }
  .signup-page{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./NUS-Login-Page-Image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    position: absolute;
    overflow: hidden;
    height: 100%;
    
  }
  .signup-page-container{
    display: flex;
    flex: 1;
    max-width: 550px;
    overflow: auto;
    align-items: center;
    justify-content: center;
    padding: 24px;
    height: max-content;
    max-width: 350px;
    margin: auto;
    border-radius: 10px;
    background-size: 100%;
    background-position: top;
    backdrop-filter: blur(10px);
    background-color: rgba(20, 20, 20, 0.6);
    background-image: radial-gradient(
      circle at 93% 1e+2%,
      rgba(22, 119, 255, 0.17) 0%,
      rgba(255, 255, 255, 0.05) 23%,
      rgba(255, 255, 255, 0.03) 87%,
      rgba(22, 119, 255, 0.12) 109%
    );
    
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.7);
  }
  }


