/* removes white border around page*/
* {
  margin: 0;
  padding: 0;
}

a.ant-picker-now-btn {
  color : #F2613F
}

/*for table */
.rowClassName1 {
  background-color: #ffffff;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
}


.rowClassName1 td:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
 }
 
 .rowClassName1 td:last-child {
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
  }

/* allows text-overflow ellipsis in card design*/
@media (min-width: 768px) {
  .login-page{
    display: flex;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/NUS-Login-Page-Image.jpg");
    /* image credits to https://news.nus.edu.sg/nus-presidents-letter-nus-in-2020/ */
    position: absolute;
    width: 100%;
  }
  .login-page-position-left{
    display: flex;
    flex: 1;
  }
  .login-page-position-right {
    background-repeat: no-repeat;
    background-position: center 110px;
    background-size: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 550px;
    overflow: auto;
    align-items: center;
    justify-content: center;
    padding: 24px;
    height: max-content;
    margin: auto;
  }
  .login-page-container {
    border-radius: 10px;
    background-size: 100%;
    background-position: center;
    backdrop-filter: blur(10px);
    background-color: rgba(20, 20, 20, 0.6);
    background-image: radial-gradient(
      circle at 93% 1e+2%,
      rgba(22, 119, 255, 0.17) 0%,
      rgba(255, 255, 255, 0.05) 23%,
      rgba(255, 255, 255, 0.03) 87%,
      rgba(22, 119, 255, 0.12) 109%
    );
    padding: 32px;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.4);
  }
  .signup-page{
    display: flex;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/NUS-Login-Page-Image.jpg");
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .signup-page-container{
    display: flex;
    flex: 1;
    max-width: 70vw;
    padding: 32px;
    overflow: auto;
    align-items: center;
    justify-content: center;
    height: max-content;
    margin: auto;
    border-radius: 50px;
    background-size: 100%;
    background-position: top;
    backdrop-filter: blur(10px);
    background-color: rgba(20, 20, 20, 0.6);
    background-image: radial-gradient(
      circle at 93% 1e+2%,
      rgba(22, 119, 255, 0.17) 0%,
      rgba(255, 255, 255, 0.05) 23%,
      rgba(255, 255, 255, 0.03) 87%,
      rgba(22, 119, 255, 0.12) 109%
    );
    
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.7);
  }
  .detailpagephoneview {
    display: none;
  }

  .eventcolumn {
    display : flex;
    justify-content: space-between;
    border-radius: 10px;
    margin : 10px;
    padding : 10px;
    width : 100%;
  }
  
  .phone-card {
    display: none;
  }
  .phone-navbar {
    display: none;
  }
}

.searchbar {
  width : 700px;
}

.search-inner {
  position: relative;
  display: inline-block; /* To ensure the dropdown width matches the input */
}

.search-container {
  width : 700px;
  display : flex;
  flex-direction : column;
}

.dropdown {
  background-color : white;
  display : flex;
  flex-direction : column;
  border : 0.5px solid rgb(156, 155, 155);
  width : 622px;
  overflow: auto;
  max-height : 100px;
  position : absolute;
  top : 80%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  z-index: 1000; /* Ensure it appears above other elements */


}
.dropdown-empty {
  border : none;
  color : grey;
  margin: 5px;
}

.dropdown-row {
  cursor : pointer;
  text-align : start;
  margin: 5px;
}



@media (max-width: 768px) {
  .login-page{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/NUS-Login-Page-Image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    flex-direction: column-reverse;
  }
  .login-page-position-left{
    display: flex;
    flex: none;
    align-items: flex-start;
    width: 100%;
    }
  .login-page-position-right{
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 550px;
    padding-inline: 0;
    padding-block: 32px;
    overflow: auto;
    align-items: center;
    justify-content: center;
    padding: 24px;
    height: max-content;
    margin: auto;
  }
  .login-page-container{
    background-color: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(4px);
    padding: 24px;
    box-shadow: none;
    background-image: none;
    border-radius: 0px;
    background-size: 100%;
    background-position: top;
    overflow: hidden;
    border-radius: 10px;
    background-size: 100%;
    background-position: top;
    backdrop-filter: blur(10px);
    background-color: rgba(20, 20, 20, 0.6);
    background-image: radial-gradient(
      circle at 93% 1e+2%,
      rgba(22, 119, 255, 0.17) 0%,
      rgba(255, 255, 255, 0.05) 23%,
      rgba(255, 255, 255, 0.03) 87%,
      rgba(22, 119, 255, 0.12) 109%
    );
    padding: 32px;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.4);
  }
  .signup-page{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/NUS-Login-Page-Image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    position: absolute;
    overflow: hidden;
    height: 100%;
    
  }
  .signup-page-container{
    display: flex;
    flex: 1;
    max-width: 550px;
    overflow: auto;
    align-items: center;
    justify-content: center;
    padding: 24px;
    height: max-content;
    max-width: 350px;
    margin: auto;
    border-radius: 10px;
    background-size: 100%;
    background-position: top;
    backdrop-filter: blur(10px);
    background-color: rgba(20, 20, 20, 0.6);
    background-image: radial-gradient(
      circle at 93% 1e+2%,
      rgba(22, 119, 255, 0.17) 0%,
      rgba(255, 255, 255, 0.05) 23%,
      rgba(255, 255, 255, 0.03) 87%,
      rgba(22, 119, 255, 0.12) 109%
    );
    
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.7);
  
  }
  .searchbar {
    width : 400px;
  }

  .search-container {
    width : 400px;
    display : flex;
    flex-direction : column;
  }

  .dropdown {
    background-color : white;
    display : flex;
    flex-direction : column;
    border : 0.5px solid rgb(156, 155, 155);
    width : 321px;
    overflow: auto;
    max-height : 100px;
  }
  
  .detailpagecomputerview {
    display: none;
  }

  .eventcolumn {
    display : flex;

    align-items: left;
    width: 90%;
    border-radius: 10px;
    margin : 10px;
  }

  .computer-card {
    display: none;
  }
  .computer-navbar {
    display: none;
  }
  
}
@media (max-width: 550px) {
  .searchbar {
    width : 200px;
  }

  .search-container {
    width : 200px;
    display : flex;
    flex-direction : column;
  }

  .dropdown {
    background-color : white;
    display : flex;
    flex-direction : column;
    border : 0.5px solid rgb(156, 155, 155);
    width : 121px;
    overflow : auto;
    max-height : 100px;
  }

}

  

